{% extends "base.html" %}

{% block titulo %}
    <title>Unes - Quem somos</title>
{% endblock %}

{% block conteudo %}
    <main class="pag2">
        <h1>Quem somos</h1>
        <p>Lorem <b>ipsum dolor</b> sit <i>amet</i> consectetur adipisicing elit. Itaque maiores voluptatum numquam reiciendis alias? Architecto, sint? Sequi hic maxime, ut obcaecati aperiam assumenda fugiat eaque asperiores necessitatibus consequatur accusamus, consectetur quia tempore eveniet quos cum doloremque. Corporis placeat nihil illo ad sapiente? Autem tenetur repudiandae et eius laudantium, doloribus excepturi consequuntur? Doloribus, pariatur, adipisci soluta aspernatur nam beatae tempora vitae rerum recusandae quidem delectus asperiores! Illo provident ad earum consectetur corporis? Eum aliquam accusamus maxime!</p>
        <h1>5 motivos para estudar</h1>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
        <hr>
        <h1>Objetivos</h1>
        <p>Lorem <b>ipsum dolor</b> sit <i>amet</i> consectetur adipisicing elit. Quo mollitia consequuntur impedit nostrum cumque. Fugit sed placeat beatae. Laudantium iste inventore expedita, doloremque ut optio velit natus exercitationem placeat dignissimos nostrum accusantium quis aperiam, ipsam consequuntur quibusdam tempore praesentium id dolor vitae. Laboriosam maiores provident, iure eaque officia non illo sit harum sed repellat in eius libero ex voluptates ratione numquam saepe, repellendus illum at ad corrupti nisi necessitatibus sunt aperiam. Asperiores sint molestias sed.</p>
    </main>
{% endblock %}