{% extends "base.html" %}

{% block titulo %}
    <title>Unes - Home</title>
{% endblock %}

{% block conteudo %}
    <div class="img">
        <img src="../static/imagens/capa.png" alt="Tecnologia no seu Aprendizado">
    </div>
    <main>
        <div class="conteudo">
            <h1>Sobre a universidade</h1>
            <p>Lorem <b>ipsum dolor</b>, sit <i>amet</i> consectetur adipisicing elit. Eveniet ex voluptas, accusantium a, saepe optio doloremque laudantium tenetur nobis impedit eos quaerat recusandae error dolor porro incidunt. Reiciendis, aliquam ut doloribus officiis dolorem iusto iure consequuntur, veniam doloremque molestiae consectetur modi tempora, ea laborum! Ipsam sit assumenda, consequuntur reprehenderit molestiae consequatur dolorem quis? At, inventore maiores reprehenderit quam delectus soluta aliquam cum, aspernatur saepe placeat quaerat temporibus nam incidunt voluptates ea cumque totam, assumenda repellat.</p>
            <p>Lorem <b>ipsum dolor</b> sit <i>amet</i> consectetur, adipisicing elit. Error aliquam quos, quaerat quas corrupti officiis fuga sapiente impedit? Aliquid voluptatem labore aliquam omnis laborum rerum, vitae maiores magni dignissimos perferendis, qui delectus illum voluptas commodi blanditiis architecto? Amet blanditiis voluptatibus illo quos repellendus, molestias aliquid ex, odit a porro earum similique quod ipsam nobis officiis id quae? Veniam omnis vero enim alias modi dignissimos vitae numquam quia perferendis quam. Tempore animi optio hic dolor quidem.</p>
        </div>
    </main>
    <footer>
{% endblock %}