* {
    margin: 0px;
}

hr.linhatopo {
    border: 3px solid #7279AD;
}

div.topo {
    position: relative;
    width: 900px;
    margin: auto;
}

div.topo > p {
    position: absolute;
    top: 50%;
    left: 89%;
    transform: translate(-50%, -50%);
    display: inline;
    width: 300px;
}

div.topo > img {
    margin: 10px 0px 10px 0px;
}

div.img {
    background-color: rgb(230, 230, 230);
}

div.img > img {
    display: block;
    margin: auto;
}

main {
    width: 900px;
    margin: auto;
}

div.conteudo > h1 {
    margin: 5px 0px 5px 0px;
}

div.conteudo > p {
    margin: 10px 0px 10px 0px;
}

footer {
    margin: 30px 0px 0px 0px;
    text-align: center;
    font-weight: bold;
}

main > div.conteudo > h1 {
    margin: 20px 0px 10px 0px;
}

main > div.conteudo > p {
    margin: 20px 0px 10px 0px;
}

main.pag2 > h1 {
    margin: 10px;
}

main.pag2 > p{
    margin: 10px;
}

main.pag2 > ol {
    margin: 10px;
}

form {
    margin: 10px;
}

label {
    margin: 10px;
}

input {
    margin: 5px 0px 0px 10px;
}

button {
    margin: 5px 0px 0px 10px;
}

#descricao {
    width: 150px;
    height: 50px;
}

/* TABELA DOS CONTATOS CADASTRADOS */
table, th, td {
    text-align: center;
    border: 1px solid black;
}

.flex {
    display: flex;
    justify-content: center;
}

/* FORMULÁRIO LOGIN E CADASTRO */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > div {
    margin: 5px;
}

form > div > label {
    display: inline-block;
    width: 130px;
}

form > div > input {
    display: inline-block;
    width: 200px;
}

form > button {
    width:50%;
}

/* Ícone usuário nav bar */
#user {
    display: inline;
    width: 20px;
    height: 20px;
}